{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
<br/>
<div class="row" style="margin: 0 10px;">

    {% if products %}

  {% for item in products %}
    <div class="col-md-3 mb-3">
      <a href="{{ item.get_absolute_url }}" class="text-decoration-none text-dark">
      <div class="card">

        {% if item.image %}
          <img src="{{ item.image.url }}" alt="" width="100%" height="300" class="card-img-top">
        {% else %}
          <img src="https://picsum.photos/id/1060/350/300/?blur=2" alt="" class="card-img-top">
        {% endif %}

        <div class="card-body">
          <h6 class="card-title">{{ item.title|truncatechars:30 }}</h6>
            <hr>
            <h6 class="card-text">{{ item.price }} грн</h6>

                  {% if request.user.is_authenticated and request.user.is_staff %}
                  <div class="text-white d-flex justify-content-end">
                    <a href="{% url 'edit_product' item.pk %}" class="btn btn-success btn-sm" style="margin: 0 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg>
                    </a>
                    <a href="{% url 'delete_product' item.pk %}" class="btn btn-danger btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                    </a>
                  </div>
                  {% endif %}

        </div>
      </div>
      </a>
    </div>
  {% endfor %}
    {% else %}
    <h4 class="text-center mt-5">По ції категорії нема товару</h4>
    <p class="text-center mb-4 mt-3"><a href="{%  url 'home' %}" style="color: #912D9B;">На головну</a></p>
    {% endif %}
</div>
{% endblock %}