{% extends 'base.html' %}

{% block title %}
{{ news_item.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}
<br/>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid">
                {% else %}
                <img src="https://picsum.photos/id/1060/350/300/?blur=2" alt="{{ product.title }}" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description|linebreaks }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Ціна:</strong> {{ product.price }} грн</li>
                        <li class="list-group-item"><strong>Категорія:</strong> {{ product.category }}</li>
                        <li class="list-group-item"><strong>Країна виробник:</strong> {{ product.production }}</li>
                        <li class="list-group-item"><strong>Кількість у наявності:</strong> {{ product.stock_quantity }} шт.</li>
                        <li class="list-group-item"></li>
                    </ul>

                    <a href="{% url 'add_to_cart' product.id %}" style="color:white; background-color: black; border: black; margin: 10px 15px"
                       class="btn btn-primary">Додати в кошик</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}