{% extends 'base.html' %}

{% block title %}
Кошик :: {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-center mb-4 mt-5">Кошик</h2>
  <br>

  {% if cart_items %}

  <form method="post" style="background-color: #F8F9FA;">
    {% csrf_token %}
    <table class="table" >
      <thead>
        <tr>
          <th>Назва</th>
          <th>Вигляд</th>
          <th>Ціна</th>
          <th>Кількість</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %}
        <tr>
          <td>{{ item.product.title }}<p>{{ item.product.category }}<p/></td>
          <td>
            {% if item.product.image %}
            <img src="{{ item.product.image.url }}" width="100" alt="{{ item.product.title }}" class="img-fluid">
            {% else %}
            <img src="https://picsum.photos/id/1060/350/300/?blur=2" alt="{{ item.product.title }}" class="img-fluid">
            {% endif %}
          </td>
          <td>{{ item.product.price }} грн</td>
          <td>
            <a href="{% url 'decrease_quantity' item.id %}" class="btn btn-secondary btn-sm">-</a></span>
            {{ item.quantity }}
            <a href="{% url 'increase_quantity' item.id %}" class="btn btn-secondary btn-sm">+</a></span>
          </td>
          <td>
            <a href="{% url 'delete_item' item.id %}" class="btn btn-danger btn-sm">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
              </svg>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary" style="color:white; background-color: black; border: black;">Оформити</button>
  </form>
  {% else %}
  <p class="text-center fs-5">Ви ще не додали жодного товару до кошику. <a href="{%  url 'home' %}" style="color: #912D9B;">На головну</a></p>
  {% endif %}
</div>
{% endblock %}