<nav class="navbar navbar-expand-lg bg-light" style="padding: 0 20px;">
    <a class="navbar-brand" href="{%  url 'home' %}">VapeShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                Рідини
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'category' 'zhydkosti-10ml-0mg' %}">Рідини 10мл / 0мг</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'zhydkosti-10ml-10mg' %}">Рідини 10мл / 10мг</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'zhydkosti-10ml-30mg' %}">Рідини 10мл / 30мг</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'zhydkosti-10ml-50mg' %}">Рідини 10мл / 50мг</a></li>

                <li><a class="dropdown-item" href="{% url 'category' 'zhydkosti-15ml-0mg' %}">Рідини 15мл / 0мг</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'zhydkosti-15ml-10mg' %}">Рідини 15мл / 10мг</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'zhydkosti-15ml-30mg' %}">Рідини 15мл / 30мг</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'zhydkosti-15ml-50mg' %}">Рідини 15мл / 50мг</a></li>

                <li><a class="dropdown-item" href="{% url 'category' 'zhydkosti-30ml-0mg' %}">Рідини 30мл / 0мг</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'zhydkosti-30ml-10mg' %}">Рідини 30мл / 10мг</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'zhydkosti-30ml-30mg' %}">Рідини 30мл / 30мг</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'zhydkosti-30ml-50mg' %}">Рідини 30мл / 50мг</a></li>

            </ul>
            </li>

            <li class="nav-item"><a class="nav-link" href="{% url 'category' 'odnorazki' %}">Одноразові сигарети</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'category' 'pod-systems' %}">POD-системи</a></li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                Комплектуючі
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'category' 'cartridges' %}">Картриджі</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'sticks' %}">Стіки</a></li>
            </ul>
            </li>

            {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link">|</a></li>

                {% if request.user.is_staff %}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false" style="color: #912D9B;">
                    Дії
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'create_category' %}">Додати категорію</a></li>
                    <li><a class="dropdown-item">Додати товар</a></li>
                    <li><a class="dropdown-item">Додати помічника</a></li>
                </ul>
                </li>
                    <li class="nav-item"><a class="nav-link" style="color: #912D9B;">Замовлення</a></li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" style="color: #912D9B; " href="{% url 'cart' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                    Кошик
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #912D9B;" href="{% url 'get_my_orders' %}">Історія замовлень</a>
                </li>
                {% endif %}

            {% endif %}




        </ul>


        {% if request.user.is_authenticated %}
        <span class="navbar-text" style="color:black;">
            Ласкаво просимо, {{ request.user.firstname }} !
            <a href="{% url 'signout' %}" style="color:white; background-color: black; border: black;" class="btn btn-primary">Вихід</a>
            </span>
        {% else %}
        <span class="navbar-text">
            <a href="{% url 'signin' %}" style="color:white; background-color: black; border: black;" class="btn btn-primary">Вхід</a>
            <a href="{% url 'signup' %}" style="color:white; background-color: black; border: black;" class="btn btn-primary">Реєстрація</a>
            </span>
        {% endif %}

    </div>
</nav>